<mat-toolbar class="header">
  <a mat-button routerLink="/" routerLinkActive="active">{{
    "risk-calculator" | transloco
  }}</a>
  <div class="spacer"></div>
  <app-locale-switcher></app-locale-switcher>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
<mat-toolbar class="footer">
  <a mat-button routerLink="/" routerLinkActive="active">{{
    "risk-calculator" | transloco
  }}</a>
  <a mat-button routerLink="/imprint" routerLinkActive="active">{{
    "impressum-legal-notice" | transloco
  }}</a>
  <a mat-button routerLink="/gdpr" routerLinkActive="active">{{
    "gdpr" | transloco
  }}</a>
</mat-toolbar>
