body, html {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.risk-calc-container {
  max-width: 50rem;
  width: 100%;
  padding: 0;
  padding-top: 1rem;
  margin: auto;
  align-self: center;
}

.cell-container {
  padding: 1rem;
  margin: 1%;
  align-self: center;
}

.mat-raised-button {
  align-self: center;
  text-align: center;
  width: 90%;
  height: 4rem;
  margin-left: 5%;
  font-size: xx-large;
}

.therapy-radio-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  align-items: flex-start;
}

.therapy-radio-button {
  margin: 0.2rem;
}

.recommendation {
  font-size: 1rem !important;
}

.footer {
  margin: 1rem;
  text-align: center;
}
