<mat-card class="risk-calc-container">
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
    {{ subtitle }}
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="">

      <!-- > Therapy Container <!-->
      <mat-grid-tile>
        <mat-card class="therapy-container">
          <mat-card-header>
            <mat-card-title>
              Therapy
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <label id="example-radio-group-label">Pick your chosen therapy:</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="chosenTherapy">
              <mat-radio-button class="example-radio-button" *ngFor="let therapy of therapies" [value]="therapy">
                {{ therapy.name }}
              </mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="therapy-container">
          <mat-card-header>
            <mat-card-title>
              Risk
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Your estimated risk for ligma is:</p>
            <div class="risk-result">
              {{ calculateRisk() }}
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>


    <div class="mat-elevation-z8">
    </div>


    <mat-card class="options-container">
      <mat-card-header>
        <mat-card-title>
          Options
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-options-field [optionFields]="chosenTherapy.option_fields"></app-options-field>
        <app-slider-field [sliderFields]="chosenTherapy.slider_fields"></app-slider-field>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
