<mat-card-header>
  <mat-card-title>
    {{ title | translate }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ subtitle | translate }}
  </mat-card-subtitle>
</mat-card-header>

<!-- > chosen Therapy <!-->
<mat-card-content>
  <mat-form-field class="therapy-select" subscriptSizing="dynamic">
    <mat-label> {{ therapySelectionLabel | translate }}</mat-label>
    <mat-select [(value)]="chosenTherapy" color="primary">
      <mat-option *ngFor="let therapy of therapies" [value]="therapy">
        {{ therapy.title | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- > Risk <!-->
  <mat-card class="cell-container">
    <mat-card-header>
      <mat-card-title>{{ "risk" | transloco }}</mat-card-title>
      <mat-card-subtitle>{{
        "your-estimated-risk-is" | transloco
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="risk-button-container">
      <button
        *ngIf="FLAG"
        mat-raised-button
        class="risk-button"
        [color]="resultColor"
      >
        {{ resultName }}
      </button>
      <div hidden (change)="displayResult()">
        {{ calculateRisk() }}
      </div>
    </mat-card-content>
    &nbsp;
    <!-- > Recommendations <!-->
    <mat-card-header>
      <mat-card-title>{{ "recommendations" | transloco }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <p class="recommendation" *ngFor="let rec of resultRecommendations">
          {{ rec | translate }}
        </p>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- > Options <!-->
  <mat-card class="cell-container">
    <mat-card-header>
      <div class="flex-container">
        <mat-card-title>
          <div>{{ "options" | transloco }}</div>
        </mat-card-title>
        <button mat-stroked-button color="warn" (click)="reset(chosenTherapy)">
          {{ "reset" | transloco }}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <app-options-field
        [optionFields]="chosenTherapy.option_fields"
      ></app-options-field>
      <app-slider-field
        [sliderFields]="chosenTherapy.slider_fields"
      ></app-slider-field>
    </mat-card-content>
  </mat-card>
</mat-card-content>
<p class="footer">
  {{
    "based-on-2022-esc-guidelines-on-cardio-oncology-lyon-et-al-2022-this-tool-is-currently-under-development-and-should-not-be-used-for-clinical-decision-making-yet-usage-is-at-your-own-risk-no-warranty-or-responsibility-taken-by-the-host-or-its-head-association"
      | transloco
  }}
</p>
<p>&nbsp;</p>
