
* {
  box-sizing: inherit;
}

.mat-mdc-card-header {
  padding: clamp(0.2rem, 3%, 2rem) clamp(0.2rem, 3%, 2rem) 0;
}

.mat-mdc-card-content {
  padding: 0 clamp(0.2rem, 3%, 2rem);
}

.therapy-select {
  width: clamp(10rem, 96%, 30rem);
  margin: clamp(0.2rem, 2%, 2rem);

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

.cell-container {
  margin: 1%;
  align-self: center;
}

.risk-button {
  align-self: center;
  text-align: center;
  width: 90%;
  height: 4rem;
  margin-left: 5%;
  font-size: xx-large;
}

.therapy-radio-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  align-items: flex-start;
}

.therapy-radio-button {
  margin: 0.2rem;
}

.recommendation {
  font-size: 1rem !important;
}

.footer {
  margin: 1rem;
  text-align: center;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
