.mat-radio-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mdc-list-item {
  height: auto;
}

@media (max-width: 600px) {
  ::ng-deep .mdc-radio {
    padding-right: 0.1rem !important;
  }
}

.flex-container p {
  margin: 0 1rem clamp(0.2rem, 2%, 1rem) 0;
}
