<mat-list>
  <mat-list-item *ngFor="let optionField of optionFields">
    <div class="flex-container">
      <p>{{ optionField.title | translate }}</p>
      <mat-radio-group>
        <mat-radio-button
          *ngFor="let dfoption of optionField.options"
          [value]="dfoption"
          (change)="setOption(optionField, dfoption)"
          [checked]="dfoption.isChecked()"
        >
          {{ dfoption.title | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-list-item>
</mat-list>
